Q1. Create one variable containing following type of data:


(i) string
(ii) list
(iii) float
(iv) tuple

In [7]:
# Ans:- 

# (i) string

string = "I'm a student of fullstack data science"

# (ii) list

lst = [234,'ddfsss', 34.54, ['abc', 'def'], 'Manojit', 'Roy', (1,3,4,5,6,7,8, "pwskills")]

flt = 23.23

t = (1,2,4,6,9,8,8,8,8,853,24,'Manojit', [3,'a',4,'b'])

print(string)
print(lst)
print(flt)
print(t)

I'm a student of fullstack data science
[234, 'ddfsss', 34.54, ['abc', 'def'], 'Manojit', 'Roy', (1, 3, 4, 5, 6, 7, 8, 'pwskills')]
23.23
(1, 2, 4, 6, 9, 8, 8, 8, 8, 853, 24, 'Manojit', [3, 'a', 4, 'b'])

In [8]:
# Q2. Given are some following variables containing data:
# (i) var1 = ‘ ‘
# (ii) var2 = ‘[ DS , ML , Python]’
# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
# (iv) var4 = 1.
# What will be the data type of the above given variable.

# Ans:-

var1 is a string (str).
var2 is a string (str).
var3 is a list (list).
var4 is a float (float).

In [ ]:
# Q3. Explain the use of the following operators using an example:

# (i) /
# (ii) %
# (iii) //
# (iv) **

Ans:-

(i) / (Division Operator)

(ii) % (Modulus Operator)

(iii) // (Floor Division Operator

(iv) ** (Exponentiation Operator)

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [12]:
# Ans:-

li = [1,2,'manojit', 3.2, ['d',3,1.2], (67,45,'Roy'), {1,2,3,4,7,8,9,9,0}, 'm', True, False]

In [13]:
len(li)

10

In [18]:
# holding the eliment
li1 = []

# holding the types
li2 = []

for i in li:
    li1.append(i)
    li2.append(type(i))
    

# Displaying results side by side    
for element, data_type in zip(li1, li2):
    print(f"Element: {element}, Type: {data_type}")

Element: 1, Type: <class 'int'>
Element: 2, Type: <class 'int'>
Element: manojit, Type: <class 'str'>
Element: 3.2, Type: <class 'float'>
Element: ['d', 3, 1.2], Type: <class 'list'>
Element: (67, 45, 'Roy'), Type: <class 'tuple'>
Element: {0, 1, 2, 3, 4, 7, 8, 9}, Type: <class 'set'>
Element: m, Type: <class 'str'>
Element: True, Type: <class 'bool'>
Element: False, Type: <class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [3]:
# Ans:-

# Input the two numbers
A = int(input("Enter the value of A: "))
B = int(input("Enter the value of B: "))

# Initialize a variable to count the number of divisions
count = 0

# Use a while loop to check for divisibility
while A % B == 0:
    # If A is divisible by B, update A to be the result of the division
    A = A / B
    # Increment the count of divisions
    count += 1

# Check if any divisions occurred
if count > 0:
    print(f"{count} times, {B} divides {A} without remainder.")
else:
    print(f"{B} does not divide {A} without remainder.")

Enter the value of A:  90
Enter the value of B:  15

1 times, 15 divides 6.0 without remainder.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [4]:
# Ans:-

# Create a list of 25 integers
numbers = [2, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75]

# Iterate through the list using a for loop
for number in numbers:
    # Check if the element is divisible by 3
    if number % 3 == 0:
        print(f"{number} is divisible by 3.")
    else:
        print(f"{number} is not divisible by 3.")

2 is not divisible by 3.
6 is divisible by 3.
9 is divisible by 3.
12 is divisible by 3.
15 is divisible by 3.
18 is divisible by 3.
21 is divisible by 3.
24 is divisible by 3.
27 is divisible by 3.
30 is divisible by 3.
33 is divisible by 3.
36 is divisible by 3.
39 is divisible by 3.
42 is divisible by 3.
45 is divisible by 3.
48 is divisible by 3.
51 is divisible by 3.
54 is divisible by 3.
57 is divisible by 3.
60 is divisible by 3.
63 is divisible by 3.
66 is divisible by 3.
69 is divisible by 3.
72 is divisible by 3.
75 is divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [6]:
# Ans:-

# Mutable Data Types:
# Objects of mutable data types can be modified after creation.
# Changes to the object affect the object itself, not a new copy.
# Examples of mutable data types in Python include lists, dictionaries, and sets.

# Example of a mutable data type: List
mutable_list = [1, 2, 3, 4]

# Modifying the list in-place
mutable_list[2] = 999

print(mutable_list)  # Output: [1, 2, 999, 4]




# Immutable Data Types:
# Objects of immutable data types cannot be modified after creation.
# Any operation that appears to modify the object actually creates a new object.
# Examples of immutable data types in Python include integers, floats, strings, and tuples.

# Example of an immutable data type: Tuple
immutable_tuple = (1, 2, 3, 4)
print(immutable_tuple)

# Attempting to modify the tuple will result in an error
# immutable_tuple[2] = 999  # This line will raise a TypeError

# Understanding whether a data type is mutable or immutable is crucial because it affects how you can manipulate and use data. Immutable types are generally safer for certain operations, like using them as keys in dictionaries, where mutability could lead to unexpected behavior. Mutable types, on the other hand, provide more flexibility for in-place modifications.

[1, 2, 999, 4]
(1, 2, 3, 4)